/* ******************* ESTIlOS PREDETERMINADOS *************** */

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, serif;
}

body {
	background: #EFEFEF;
	color: #ffffff;
}

/* ******************* CONTENEDOR GENERAL *************** */
.general {
    width: 100%;
    background: rgba(17, 17, 17, 0);

	min-height: 100vh;
	position: relative;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
    transition: .5s ease-out all;

}

.general .particles-js-canvas-el {
    position: absolute;
    background: rgb(17, 17, 17);
}

.general .header {
    margin-bottom: 150px;
	text-transform: uppercase;
    letter-spacing: 3px;
    z-index: 1;
}

.general .header h1{    
    font-size: 60px;
	font-size: 900;
    margin-bottom: 20px;
    z-index: 1;
}

.general .header h2 {
    font-size: 30px;
    font-weight: 600;
    z-index: 1;
}


/* ******************* CUENTA REGRESIVA *************** */
.general .cuentaRegresiva {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: rgb(29, 29, 29);
}

.general .cuentaRegresiva .simply-section {
    background: #ffffffea;
    width: 180px;
    height: 180px;
    margin: 0 20px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease all;

    z-index: 1;
}

.general .cuentaRegresiva .simply-section:hover {
    box-shadow: 0px 0px 50px 10px #ffffff;
}

.general .cuentaRegresiva .simply-amount {
    display: block;
    font-size: 50px;
    font-weight: 800;
}

.general .cuentaRegresiva .simply-section .simply-word {
    font-size: 30px;
    font-weight: 400;
}


/* ******************* BOTON SWITCH *************** */
.general .switch {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    z-index: 1;
}

.general .switch input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.general .switch label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: #5a1236;
	display: block;
	border-radius: 50px;
	position: relative;
}

.general .switch label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 45px;
	transition: 0.3s;
}

.general .switch input:checked + label {
	background: #002B7A;
}

.general .switch input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.general .switch label:active:after {
	width: 70px;
}


/* ******************* CREADOR *************** */
.general .redes-sociales {
    z-index: 1;
}

.general .redes-sociales .creador {
    width: 100%;
    height: 100px;

    font-size: 20px;
    font-weight: 600;
}


/* ******************* REDES SOCIALES *************** */
.general .redes-sociales .btn-red-social {
    padding: 15px 0;
	margin: 0 20px;
    min-width: 120px;
    
    color: rgb(255, 255, 255);
    background: #000;
	font-size: 30px;
	border-radius: 5px;
	display: inline-block;
    transition: .3s ease all;
}

.general .redes-sociales .btn-red-social.fb {
    background: #3b5998;
}

.general .redes-sociales .btn-red-social.fb:hover {
    box-shadow: 0px 0px 50px 10px #234899;
}

.general .redes-sociales .btn-red-social.ig {
    background: linear-gradient(#833ab4, #c13584, #e1306c);
}

.general .redes-sociales .btn-red-social.ig:hover {
    box-shadow: 0px 0px 50px 10px rgba(219, 0, 248, 0.467);
}

.general .redes-sociales .btn-red-social.tw {
    background: #1da1f2;
}

.general .redes-sociales .btn-red-social.tw:hover {
    box-shadow: 0px 0px 50px 10px rgba(0, 170, 248, 0.467);
}

.general .redes-sociales .btn-red-social.lk {
    background: #0077b5;
}

.general .redes-sociales .btn-red-social.lk:hover {
    box-shadow: 0px 0px 50px 10px #0077b5;
}

.general .redes-sociales .btn-red-social.gh {
    background: linear-gradient(#333, #6e5494);
}

.general .redes-sociales .btn-red-social.gh:hover {
    box-shadow: 0px 0px 50px 10px #6e5494;
}


/* *************** CONTIFURACION DE LA ALERTA ****************** */
.textoAlerta {
    color:#fafafa;
}



/* *************** MEDIA QUERIES ****************** */
@media screen and (max-width: 1000px) {

    /* ************ CONTENEDOR GENERAL ********** */
    .general {
        height: 100%;
        padding: 10% 0;
    }
    
    .general .header h1{
        font-size: 40px;
    }
    
    .general .header h2 {
        font-size: 30px;
    }


    /* ******************* CUENTA REGRESIVA *************** */
    .general .cuentaRegresiva {
        margin-bottom: 50px;
    }

    .general .cuentaRegresiva .simply-section {
        width: 130px;
        height: 130px;
    }

    .general .cuentaRegresiva .simply-section .simply-amount {
        font-size: 40px;
    }

    .general .cuentaRegresiva .simply-section .simply-word {
        font-size: 20px;
    }


    /* ******************* REDES SOCIALES *************** */
    .general .redes-sociales .btn-red-social {
        min-width: 70px;
        min-height: 50px;
    }

    /* *************** CONTIFURACION DE LA ALERTA ****************** */
    .textoAlerta {
        color:#fafafa;
        font-size: 20px;
    }
    
}

@media screen and (max-width: 670px) {
    
    /* ************ CONTENEDOR GENERAL ********** */
    .general .header {
        margin-bottom: 70px;
    }

    .general .header h1{
        font-size: 25px;
        margin: 20px 10px;
    }
    
    .general .header h2 {
        font-size: 20px;
    }


    /* ******************* CUENTA REGRESIVA *************** */
    .general .cuentaRegresiva {
        margin-bottom: 20px;
    }

    .general .cuentaRegresiva .simply-section {
        width: 80px;
        height: 80px;
        margin: 0 10px;
    }

    .general .cuentaRegresiva .simply-section .simply-amount {
        font-size: 20px;
    }
    
    .general .cuentaRegresiva .simply-section .simply-word {
        font-size: 15px;
        font-weight: 400;
    }


    /* ******************* BOTON SWITCH *************** */
    .general .switch {
        margin-bottom: 50px;
    }

    .general .switch label {
        width: 65px;
        height: 35px;
        border-radius: 35px;
    }

    .general .switch label:after {
        top: 3px;
        left: 5px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }

    .general .switch input:checked + label {
        background: #002B7A;
    }

    .general .switch input:checked + label:after {
        left: calc(100% - 3px);
    }

    .general .switch label:active:after {
        width: 35px;
    }


    /* ******************* CREADOR *************** */
    .general .redes-sociales .creador {
        width: 100%;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
    }


    /* ******************* REDES SOCIALES *************** */
    .general .redes-sociales .btn-red-social {
        min-width: 50px;
        margin: 0 10px;
        padding: 8px 10px;
    }
}

@media screen and (max-width: 400px) {
    /* ************ CONTENEDOR GENERAL ********** */
    .general .header {
        margin-bottom: 50px;
    }

    .general .header h1{
        font-size: 18px;
        margin: 10px 5px;
    }

    .general .header h2 {
        font-size: 15px;
    }


    /* ******************* CUENTA REGRESIVA *************** */
    .general .cuentaRegresiva {
        margin-bottom: 20px;
    }

    .general .cuentaRegresiva .simply-section {
        width: 75px;
        height: 75px;
        margin: 0 10px;
    }

    .general .cuentaRegresiva .simply-section .simply-amount {
        font-size: 20px;
        font-weight: 600;
    }

    .general .cuentaRegresiva .simply-section .simply-word {
        font-size: 15px;
        font-weight: 400;
    }


    /* ******************* CREADOR *************** */
    .general .redes-sociales .creador {
        width: 100%;
        height: 50px;
        font-size: 12px;
        font-weight: 600;
    }


    /* ******************* REDES SOCIALES *************** */
    .general .redes-sociales .btn-red-social {
        min-width: 40px;
        min-height: 40px;
        font-size: 20px;
        margin: 0 10px;
        padding: 10px 10px;
    }

    /* *************** CONTIFURACION DE LA ALERTA ****************** */
    .textoAlerta {
        color:#fafafa;
        font-size: 15px;
    }
}

@media screen and (max-width: 355px) { 
    /* ************ CONTENEDOR GENERAL ********** */
    .general .header h1{
        font-size: 12px;
        margin: 10px 3px;
    }

    .general .header h2 {
        font-size: 10px;
    }


    /* ******************* CUENTA REGRESIVA *************** */
    .general .cuentaRegresiva .simply-section {
        width: 60px;
        height: 60px;
        margin: 0 5px;
    }

    .general .cuentaRegresiva .simply-section .simply-amount {
        font-size: 15px;
    }

    .general .cuentaRegresiva .simply-section .simply-word {
        font-size: 10px;
    }


    /* ******************* CREADOR *************** */
    .general .redes-sociales .creador {
        font-size: 10px;
        font-weight: 500;
    }


    /* ******************* REDES SOCIALES *************** */
    .general .redes-sociales .btn-red-social {
        margin: 0 5px;
    }


    /* *************** CONTIFURACION DE LA ALERTA ****************** */
    .textoAlerta {
        color:#fafafa;
        font-size: 10px;
    }
}